body {
	background-color: #EEEEEE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	text-decoration: none;
}
hr {
	border: 1px dashed #000000;
}
tr {
	border: 1px solid #000000;
}
td {
	border: 1px solid #000000;
	vertical-align: top;
}
#title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	font-style: italic;
}
#subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
#text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
#smalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	font-style: italic;
	text-align: right;
}
#title_td {
	background-color: #E1BF23;
}
#subtitle_td {
	background-color: #E8D153;
}
#text_td {
	background-color: #EFE887;
}
#smalltext_td {
	background-color: #F5F4BA;
}
#hr_td {
	background-color: #F5F4BA;
}
#footer_td {
	background-color: #E1BF23;
}
